<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/abilities.js')}}"></script>
</head>

<body>
    <div class="container">
        {% include 'header.html' -%}
        {% include 'character-info-table.html' with context -%}
        {% include 'character-ability-table.html' with context -%}
        {% include 'character-levels-table.html' with context -%}
        {% include 'character-skills-table.html' with context -%}
        {% include 'footer.html' -%}
    </div>
</body>

</html>